<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>App1</title>
		<script src="Backbone-1.0.0/codes/js/jquery-min.js" type="text/javascript"></script>
		<script src="Backbone-1.0.0/codes/js/underscore-min.js" type="text/javascript"></script>
		<script src="Backbone-1.0.0/codes/js/backbone-min.js" type="text/javascript"></script>
		<!--
		<script src="app1.js"></script>
		<script src="app2.js"></script>
		<script src="app3.js"></script>
		<script src="app4.js"></script>
		-->
	</head>
	<body>

	<!--
	<script type="text/template" id="item-container">
		<li><%= value %></li>
	</script>
	-->
	<table class="table">
	<thead>
  <tr>
    <th>Name</th>
    <th>Artist</th>
    <th>Year</th>
  </tr>
  </thead>
  <tbody id="table-body"></tbody>
  <!--
  <tr>
    <td id="board1-name"></td>
    <td id="board1-artist"></td>
    <td id="board1-year"></td>
  </tr>
  -->
  
</table>


<script type="text/template" id="song-template">
  <td><%= name %></td>
  <td><%= artist %></td>
  <td><%= year %></td>
</script>

	</body>
	<script src="app5.js"></script>
</html>